.conteneur1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 218); 
    height: 50px;
    width: 150px;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: color 0.3s, font-weight 0.3s;
}

.conteneur1:hover {
    color: red;
    font-weight: bold;
}


.conteneur2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 220, 255); 
    height: 60px;
    width: 165px;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: color 0.3s, font-weight 0.3s;
}

.conteneur2:hover {
    color: red;
    font-weight: bold;
}


.conteneur3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 209, 245); 
    height: 50px;
    width: 50px;
    border: 3px solid #64aaff;
    border-radius: 10px;
    transition: color 0.3s, font-weight 0.3s;
    
}

.conteneur3:hover {
color: red;
font-weight: bold;
}


.usine {
    background: rgb(0, 0, 0);
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
    font-weight: bold;
  }
  
  .usine:before {
    border-bottom: 35px solid rgb(0, 0, 0);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -34px;
    width: 0;
  }